name: Publish on GitHub Pages

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: actions/setup-node@v2.1.1
        with:
          node-version: 10
      - name: install build dependencies
        run: |
          sudo apt-get install -y libpng-dev libatlas-base-dev libblas-dev libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev graphicsmagick build-essential g++-4.8
      - run: npm install
      - run: npm run build
      - run: npm test
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: actions/setup-node@v2.1.1
        with:
          node-version: 10
      - name: install build dependencies
        run: |
          sudo apt-get install -y libpng-dev libatlas-base-dev libblas-dev libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev graphicsmagick build-essential g++-4.8
      - run: npm install
      - run: npm run build
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./browser
